name: Super Lint
on: push
jobs:
  build:
    name: Install dependencies
    runs-on: ubuntu-latest
    steps:
      - name: Pull the code
        uses: actions/checkout@v2
      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.8
      - name: Install Poetry
        run: curl -sSL https://raw.githubusercontent.com/python-poetry/poetry/master/get-poetry.py | python -
      - name: Install Project Depedencies
        run: poetry install
      - name: CodeStyle Enforcement
        run:  poetry run black --check
      - name: Stardard Enforcement
        run: poetry run flake8 src/
      - name: Check the typings
        run: poetry run mypy --config-file pyprojerct.toml src/
